<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>suiseikyoumoukawaii</title>
    <link rel="stylesheet" href="../styles/cli.css">
    <link rel="icon" type="image/x-icon" href="../assets/img/suisei.png">
</head>
<body>
  <div id="desktop-item">
    <div class="icon linkedin">
      <a href="https://github.com/simplicity0308">
        <div class="desc">LinkedIn</div>
      </a>
    </div>
    <div class="icon resume">
      <div class="desc">Resume</div>
    </div>
    <div class="icon github">
      <div class="desc">Github</div>
    </div>
    <div class="icon about">
      <div class="desc">About Me</div>
    </div>
    <div class="icon contact">
      <div class="desc">Contact Me</div>
    </div>
    <div class="icon projects">
      <div class="desc">Projects</div>
    </div>
    <div class="icon suisei">
      <div class="desc">星街</div>
    </div>


      
  </div>
  <div id="terminal-container">
    <div id="terminal-header">
      <div class="terminal-button minimize"></div>
      <div class="terminal-button maximize"></div>
      <div class="terminal-button close"></div>
      <div class="terminal-title">192.168.22.03</div>
    </div>
    <div id="terminal">
      <div id="output"></div>
      <div class="prompt">
        <span>[portfolio@benjamin ~]$ </span>
        <span class="cli-hint">type 'help' for options</span>
        <div id="input-container">
          <input type="text" id="cli-input" autofocus autocomplete="off" />
        </div>
      </div>
    </div>
  </div>  

  <script src="../script/script.js"></script>
</body>
</html>

