<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CLI Portfolio</title>
    <link rel="stylesheet" href="../styles/cli.css">
</head>
<body>
  <div id="terminal">
    <div id="output"></div>
    <div class="prompt">
      <span>[portfolio@benjamin ~]$ </span>
      <span class="cli-hint">type 'help' for options</span>
      <div id="input-container">
        <input type="text" id="cli-input" autofocus autocomplete="off" />
      </div>
    </div>
  </div>
  <script src="../script/script.js"></script>
</body>
</html>

